.ImputMargine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0 auto;
}

.input {
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
}

.link{
  margin-top: 10px;
  color: #122e69;
  text-decoration: none;
}