.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.containerSmalltext {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  height: 300px;
  min-width: 400px;
  margin-top: 80px;
}

.input {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.cancel {
  color: #122e69;
  font-size: large;
  cursor: pointer;
}

.ordersDataBlock{
    margin-left: 20px !important;
    width: 780px !important;
}
